<!DOCTYPE html>
<html>
<head style="background-color: #333;">

    <link rel="stylesheet" type="text/css" href="~/css/generalstyle.css"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body style="background-color: rgb(29, 22, 22);">

    <!-- Navbar -->
   

    

    <div class="navbar">
        <div class="left-links">
            @if (ViewBag.IsLoggedIn)
            {
                <a href="@Url.Action("Cart", "Cart")">🛒 Go to Cart</a>
            }
        </div>

        <div>
            @if (ViewBag.IsLoggedIn)
            {
                <span>Welcome, @ViewBag.UserName</span>
                <a href="@Url.Action("Logout", "Account")">Logout</a>
            }
            else
            {
                <span>Please log in!</span>
                <a href="@Url.Action("Index", "Account")">Login</a>
            }
        </div>
    </div>
    
    <!-- Movie List Container -->
    <div class="container">
        @foreach (var movie in Model)
        {
            bool isInCart = false;
            if (Context.Session.GetString("Cart") != null)
            {
                var cartItems = System.Text.Json.JsonSerializer.Deserialize<List<int>>(Context.Session.GetString("Cart"));
                isInCart = cartItems.Contains(movie.MovieID);
            }

            <div class="movie-card">
                <img src="@movie.ImageUrl" alt="@movie.Title">
                <h3>
                    <a href="@Url.Action("MovieInfo", "Movies", new { id = movie.MovieID })">
                        @movie.Title
                    </a>
                </h3>
                
               
                <!-- Add to Cart Button -->
                <button id="btn-@movie.MovieID" class="btn @(isInCart ? "btn-added" : "")"
                        onclick="addToCart(@movie.MovieID)"
                @(isInCart ? "disabled" : "")>
                    @(isInCart ? "Added to Cart" : "Add to Cart")
                </button>
                
            </div>
        }
    </div>

    <script>

                function addToCart(movieId) {
            var isLoggedIn = @((ViewBag.IsLoggedIn ? "true" : "false")); // Kullanıcının giriş yapıp yapmadığını kontrol et

            if (!isLoggedIn) {
                alert("Please log in!");
                return; // İşlemi durdur
            }

            $.post("@Url.Action("AddToCart", "Movies")", { id: movieId }, function (data) {
                if (data.success) {
                    let btn = $("#btn-" + movieId);
                    btn.text("Added to Cart");
                    btn.addClass("btn-added");
                    btn.prop("disabled", true);
                }
            });
        }
    </script>

</body>
</html>
